.storage-type { margin-top: 20px; }
.todo ul { list-style: none; margin: 0 }
.todo {
    position: relative;
    padding: 12px 0;
    background: white;
    border: 1px solid;
    border-color: #dfdcdc #d9d6d6 #ccc;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.todo:before, .todo:after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 4px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.todo:after {
    bottom: -3px;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.todo:before {
    bottom: -5px;
    left: 2px;
    right: 2px;
    border-color: #c4c4c4;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.todo-list {
    border-top: 1px solid #e6ebed;
}

.todo-list:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 45px;
    width: 5px;
    z-index: 2;
    border: 1px solid #f2e3df;
    border-width: 0 1px;
}

.todo-list li {
    position: relative;
    padding: 9px 65px 9px 65px;
    line-height: 25px;
    font-size: 18px;
    color: #8b8f97;
    border-bottom: 1px solid #e6ebed;
    text-align: left;
}

.todo-list li input,
.todo-controls .input-search {
    border: none;
    line-height: 25px;
    width: 100%;
    font-size: 18px;
    color: #8b8f97;
    text-align: left;
    font-style: italic;
}

.todo-controls .input-search {
    padding-left: 50px;
    padding-right: 30px;
}

.todo-list li input:focus,
.todo-controls .input-search {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.todo-list .toggle {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 45px;
    text-shadow: none;
    color: transparent;
    border-bottom: none!important;
}

.todo-list .toggle:before {
    font-family: FontAwesome;
    font-size: 1em;
    display: inline-block;
    position: absolute;
    content: '';
    top: 12px;
    left: 13px;
    width: 20px;
    height: 20px;
    line-height: 1.1;
    color: #c0c0c0;
    background: #faf9f9;
    border: 1px solid;
    border-radius: 2px;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    -webkit-box-shadow: 0 1px 1px #dfecf4;
    box-shadow: 0 1px 1px #dfecf4;
}

.todo-list .toggle:hover:before {
    -webkit-box-shadow: 0 0 3px #6bb3ca;
    box-shadow: 0 0 3px #6bb3ca;
}

.todo-list .done {
    text-decoration: line-through;
}

.todo-list .done .toggle:before {
    content: "\f00c";
    border-color: #c0c0c0 #ccc #d8d8d8;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
}

.todo-controls {
    margin: 0 15px 12px 50px;
    height: 22px;
}

.todo-controls .icon-delete {
    position: absolute;
    left: 15px;
    top: 16px;
}

.todo-list .icon-delete {
    position: absolute;
    right: 20px;
    top: 16px;
}

.todo-controls .icon-search {
    position: absolute;
    left: 65px;
    top: 16px;
}

.todo-controls .icon-setup {
    position: absolute;
    right: 25px;
    top: 17px;
}

.todo-controls [class^="icon-"],
.todo-list [class^="icon-"] {
    display: inline-block;
    vertical-align: -2px;
    margin-right: 2px;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    text-shadow: none;
    color: #c0c0c0;
}

.todo-controls [class^="icon-"]:hover,
.todo-list [class*="icon-"]:hover {
    cursor: pointer;
    color: #999;
}
